<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncOAuth" version="0.8.3" targetFramework="wp71" />
  <package id="Facebook" version="6.4.2" targetFramework="wp71" />
  <package id="Facebook.Client" version="0.8.5-alpha" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="wp71" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" targetFramework="wp71" />
  <package id="TweetSharp" version="2.3.1" targetFramework="wp71" />
</packages>